.about-project {
  padding: 110px 70px;
  background: rgba(32, 32, 32, 1);
}

.about-project__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #FFF;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(218, 218, 218, 1);
  margin-top: 0;
  margin-bottom: 70px;
}

.about-project__plans {
  display: grid;
  gap: 26px 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 110px;
}

.about-project__plan-title {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__plan-description {
  font-size: 14px;
  line-height: 20px;
}

.about-project__chart {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 36px 31px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  grid-auto-flow: column;
}

.about-project__chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.about-project__chart-title_color_green {
  background-color: rgba(61, 220, 132, 1);
  color: #000;
}

.about-project__chart-title_color_grey {
  background-color: rgba(48, 48, 48, 1);
  color: #FFF;
}

.about-project__chart-description {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: 500;
  color: rgba(139, 139, 139, 1);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__plans {
    gap: 22px 30px;
    margin-bottom: 93px;
  }
}

@media screen and (max-width: 767px) {
  .about-project {
    padding: 70px 18px;
  }

  .about-project__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
    margin-bottom: 60px;
  }

  .about-project__plans {
    grid-template-columns: none;
    grid-template-rows: none;
    grid-auto-flow: row;
    gap: 0;
    margin-bottom: 0;
  }

  .about-project__plan-title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
  }

  .about-project__plan-description {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 56px;
  }

  .about-project__chart {
    grid-template-columns: 100px 1fr;
    grid-template-rows: 35px 23px;
    font-size: 11px;
    line-height: 13px;
  }
}